In [1]:
import pandas as pd

df_body = pd.read_csv('localnews.csv')

df_body = df_body[['Body']]

df_body.info()
df_body.to_csv('body_only.csv', index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316 entries, 0 to 2315
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Body    2316 non-null   object
dtypes: object(1)
memory usage: 18.2+ KB

In [3]:
df_body.head()

                                                Body
0  Four thousand four hundred farmers in East Amh...
1  The new fresh face of the housing development ...
2  Wild Coffee Ethiopia, the top tier coffee bean...
3  The global trade association of airlines, Inte...
4  Doraleh Multipurpose Port (DMP) and China Merc...