In [1]:
import pandas as pd

df_finbert = pd.read_csv('finbert_result.csv')
df_vader = pd.read_csv('vader_result.csv')

In [2]:
df_finbert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316 entries, 0 to 2315
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2316 non-null   int64
 1   Index       2316 non-null   int64
 2   fpositive   2316 non-null   float64
 3   fnegative   2316 non-null   float64
 4   fneutral    2316 non-null   float64
 5   score       2316 non-null   float64
 6   label       2316 non-null   object
dtypes: float64(4), int64(2), object(1)
memory usage: 126.8+ KB

In [6]:
df_finbert= df_finbert.drop(['Unnamed: 0'], axis=1)
df_finbert.head()

   Index  fpositive  fnegative  fneutral     score     label
0      0   0.753152   0.008772  0.238076  0.753152  positive
1      1   0.076639   0.030161  0.893200  0.893200   neutral
2      2   0.603660   0.009562  0.386778  0.603660  positive
3      3   0.656810   0.237762  0.105428  0.656810  positive
4      4   0.887694   0.007952  0.104354  0.887694  positive

In [7]:
df_vader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316 entries, 0 to 2315
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2316 non-null   int64
 1   Index          2316 non-null   int64
 2   Title          2316 non-null   object
 3   Link           2316 non-null   object
 4   DatePublished  2316 non-null   object
 5   negative       2316 non-null   float64
 6   neutral        2316 non-null   float64
 7   positive       2316 non-null   float64
 8   compound       2316 non-null   float64
 9   sentiment      2316 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 181.1+ KB

In [8]:
df_vader= df_vader.drop(['Unnamed: 0'], axis=1)
df_vader.head()

,Index,Title,Link,DatePublished,negative,neutral,positive,compound,sentiment
0,0,"SNV, BASF partner to boost small holder farmer...",https://www.capitalethiopia.com/2023/07/03/snv...,07-03-2023,0.061,0.764,0.175,0.9876,positive
1,1,NMC Real Estate hits the ground running,https://www.capitalethiopia.com/2023/06/26/nmc...,06-26-2023,0.013,0.889,0.098,0.9274,positive
2,2,Wild Coffee Ethiopia widens horizon to Kenya,https://www.capitalethiopia.com/2023/06/26/wil...,06-26-2023,0.000,0.759,0.241,0.9977,positive
3,3,IATA calls on Gov’t to clear blocked airline f...,https://www.capitalethiopia.com/2023/06/26/iat...,06-26-2023,0.059,0.729,0.212,0.9973,positive
4,4,Promoting equipment maintenance at the DMP,https://www.capitalethiopia.com/2023/06/26/pro...,06-26-2023,0.000,0.784,0.216,0.9963,positive

In [9]:
df_toconcat = df_finbert.iloc[:,1:]
df_toconcat.head()

   fpositive  fnegative  fneutral     score     label
0   0.753152   0.008772  0.238076  0.753152  positive
1   0.076639   0.030161  0.893200  0.893200   neutral
2   0.603660   0.009562  0.386778  0.603660  positive
3   0.656810   0.237762  0.105428  0.656810  positive
4   0.887694   0.007952  0.104354  0.887694  positive

In [11]:
df_combined = pd.concat([df_vader,df_toconcat], axis=1)
df_combined.head(10)

,Index,Title,Link,DatePublished,negative,neutral,positive,compound,sentiment,fpositive,fnegative,fneutral,score,label
0,0,"SNV, BASF partner to boost small holder farmer...",https://www.capitalethiopia.com/2023/07/03/snv...,07-03-2023,0.061,0.764,0.175,0.9876,positive,0.753152,0.008772,0.238076,0.753152,positive
1,1,NMC Real Estate hits the ground running,https://www.capitalethiopia.com/2023/06/26/nmc...,06-26-2023,0.013,0.889,0.098,0.9274,positive,0.076639,0.030161,0.893200,0.893200,neutral
2,2,Wild Coffee Ethiopia widens horizon to Kenya,https://www.capitalethiopia.com/2023/06/26/wil...,06-26-2023,0.000,0.759,0.241,0.9977,positive,0.603660,0.009562,0.386778,0.603660,positive
3,3,IATA calls on Gov’t to clear blocked airline f...,https://www.capitalethiopia.com/2023/06/26/iat...,06-26-2023,0.059,0.729,0.212,0.9973,positive,0.656810,0.237762,0.105428,0.656810,positive
4,4,Promoting equipment maintenance at the DMP,https://www.capitalethiopia.com/2023/06/26/pro...,06-26-2023,0.000,0.784,0.216,0.9963,positive,0.887694,0.007952,0.104354,0.887694,positive
5,5,CBE anchors Islamic finance through new saving...,https://www.capitalethiopia.com/2023/06/26/cbe...,06-26-2023,0.000,0.744,0.256,0.9866,positive,0.282715,0.008630,0.708655,0.708655,neutral
6,6,Zamzam bank gets the go to erect HQ at financi...,https://www.capitalethiopia.com/2023/06/26/zam...,06-26-2023,0.000,0.873,0.127,0.9427,positive,0.814691,0.008282,0.177026,0.814691,positive
7,7,Tigray aid embezzlement: authorities identify ...,https://www.capitalethiopia.com/2023/06/19/tig...,06-19-2023,0.178,0.767,0.055,-0.9897,negative,0.018252,0.852250,0.129498,0.852250,negative
8,8,Addis hosts summit to pave way for “Digital Af...,https://www.capitalethiopia.com/2023/06/19/add...,06-19-2023,0.010,0.849,0.141,0.9881,positive,0.777893,0.009262,0.212844,0.777893,positive
9,9,Marriott International continues expansion of ...,https://www.capitalethiopia.com/2023/06/19/mar...,06-19-2023,0.012,0.882,0.105,0.9661,positive,0.699103,0.008803,0.292094,0.699103,positive

In [ ]:
df_forvis = df_combined.drop(['Link'], axis=1)
df_forvis.to_csv('final_result.csv', index=False)